<!DOCTYPE html>
<!--郑州保单派送，派送员手机登录页面-->
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>派送员登录</title>
		<script src="__ROOT__/Public/amaze/assets/js/jquery.min.js"></script>
		<link rel="stylesheet" href="__ROOT__/Public/layui/css/layui.css">
		<link rel="stylesheet" href="__ROOT__/Public/liujh/mycss/signin.css">
	</head>

	<body class="layui-layout-body page-sign">
		<!--登录框-->
		<div id="wrap">
			<div class="sign-wrap">
				<div class="sign-form sign-scan" style="display: block;">
					<h3 class="title">派送员登录</h3>
					<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
						<div class="layui-tab-content" style="height: 100px;">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
							<form action=" " method="post">
								<div class="form-row row-select">
									<span class="ipt-wrap">
										<i class="icon-sign-phone"></i>
										<input type="text" lay-verify="required" class="ipt ipt-name" placeholder="派送员账号" name="psy_name">
									</span>
								</div>
								<div class="form-row">
									<span class="ipt-wrap">
										<i class="icon-sign-sms"></i>
										<input type="password" class="ipt ipt-pwd" ka="signup-sms" placeholder="输入密码" name="psy_pwd">									
									</span>
								</div>
								<div class="form-btn">
									<button type="submit" class="btn">登录</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="__ROOT__/Public/layui/layui.js"></script>
		<script src="__ROOT__/Public/joyshang/myjavascript/zscan_login_index.js"></script>
		<script>
			layui.use('element', function() {
				var $ = layui.jquery,
					//Tab的切换功能，切换事件监听等，需要依赖element模块
					element = layui.element;
			});
		</script>
		<script>
			layui.use(['form', 'layedit', 'laydate','element'], function() {
				var $ = layui.jqury,
					form = layui.form,
					layer = layui.layer,
					layedit = layui.layedit,
					element = layui.element;									
				//自定义验证规则
				form.verify({
					psy_name: function(value) {
						if(value.length < 5) {
							return '标题至少得5个字符啊';
						}
					},
					pass: [/(.+){6,12}$/, '密码必须6到12位'],
					content: function(value) {
						layedit.sync(editIndex);
					}
				});
				//监听提交
				form.on('submit(demo1)', function(data) {
					layer.alert(JSON.stringify(data.field), {
						title: '最终的提交信息'
					})
					return false;
				});
			});
		</script>
	</body>

</html>