<!DOCTYPE html>
<!--郑州保单派送，客户移动端查询页面-->
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>客户查询</title>
		<script src="__ROOT__/Public/amaze/assets/js/jquery.min.js"></script>
		<link rel="stylesheet" href="__ROOT__/Public/layui/css/layui.css">
		<link rel="stylesheet" href="__ROOT__/Public/liujh/mycss/khcx_index.css">
	</head>

	<body class="layui-layout-body page-sign">

		<div class="header">客户查询</div>
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
			<legend>派送进度</legend>
		</fieldset>
		<div class="layui-form-item">
			<ul class="layui-timeline" style="padding-left: 18%;">
				<li class="layui-timeline-item">
					<i class="layui-icon layui-timeline-axis" style="background-color: #5FB878;"></i>
					<div class="layui-timeline-content layui-text">
						<h3 class="layui-timeline-title">派送完成</h3>
						<ul>
							<li>已完成派送</li>
						</ul>
					</div>
				</li>
				<li class="layui-timeline-item">
					<i class="layui-icon layui-timeline-axis"></i>
					<div class="layui-timeline-content layui-text">
						<h3 class="layui-timeline-title">派送中</h3>
						<ul>
							<li>由快递员***派送，派送电话15863525262</li>
						</ul>
					</div>
				</li>
				<li class="layui-timeline-item">
					<i class="layui-icon layui-timeline-axis"></i>
					<div class="layui-timeline-content layui-text">
						<h3 class="layui-timeline-title">待分配</h3>
						<ul>
							<li>此单目前还没有分配派送员配送！</li>
						</ul>
					</div>
				</li>
				<li class="layui-timeline-item">
					<i class="layui-icon layui-timeline-axis"></i>
					<div class="layui-timeline-content layui-text">
						<div class="layui-timeline-title">当前还没有订单哦！</div>
					</div>
				</li>
				<!--<h3 class="layui-timeline-title">当前还没有订单哦！</h3>-->

			</ul>
			<div class="layui-inline">
				<div class="sign-wrap">
					<div class="sign-form">
						<div class="form-btn">
							<button type="submit" class="btn">继续查询</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-footer">
			© wwly.com - 万物联云科技公司
		</div>
		<script src="__ROOT__/Public/layui/layui.js"></script>
		<script src="__ROOT__/Public/joyshang/myjavascript/zscan_login_index.js"></script>
	</body>

</html>