.page-sign {
	background: #f6f6f8;
}
#wrap {
	position: relative
}
.sign-wrap {
	width: 410px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 10px 0 0 -205px
}
.sign-form .row-select {
    position: relative;
    z-index: 1;
}
.btn {
    display: inline-block;
    min-width: 112px;
    box-sizing: content-box;
    height: 36px;
    line-height: 36px;
    border: 1px #5dd5c8 solid;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    background: #00d7c6;
    text-align: center;
    cursor: pointer;
}
.sign-form {
	width: 324px;
	padding: 35px 43px 60px;
	/*background: #fff;*/
	border-radius: 8px;
	/*box-shadow: 1px 2px 15px rgba(0, 0, 0, .3);*/
	display: block;
}
.layui-tab-brief>.layui-tab-title .layui-this {
    color: #009688;
    font-size: 16px;
}
.layui-input-block {
    /* margin-left: 110px; */
    min-height: 36px;
}



.focus-wrap .ipt,
.focus-wrap .sel,
.sign-form .ipt:focus,
.sign-form .sel:focus {
	box-shadow: 1px 2px 3px #d7f4f1;
	border-color: #59cac2
}

.sign-form .form-btn .btn {
	width: 100%;
	font-size: 16px;
	height: 42px;
	line-height: 42px;
	border: none;
	cursor: pointer
}



.sign-form .form-btn .error-tip {
	display: block;
	visibility: hidden;
	height: 26px;
	margin-top: -37px;
	color: #fc6c38;
	padding-left: 20px;
	background-position: 0 -1385px;
	position: absolute;
	top: 0
}
.sign-form .form-btn .error-tip .icon-waring {
	margin-right: 5px
}
.sign-form button.count-down .num {
	position: static;
	color: #9fa3b0
}
.qrcode-box p {
	padding: 39px 0 10px;;
	text-align: center;
	color: #9fa3af
}

@media screen and (max-width:450px) {



	.layui-form-item .layui-input-inline {
		display: inline-block;
		float: none;
		left: -3px;
		width: auto;
		margin: 0 0 10px 15px
	}
	.layui-form-item .layui-input-inline+.layui-form-mid {
		margin-left: 110px;
		top: -5px;
		padding: 0
	}
}
.ipt {
    padding: 1px 12px 1px 7px;
    min-height: 34px;
    line-height: 34px;
    border: 1px solid #e3e7ed;
    font-size: 13px;
    vertical-align: middle;
    min-width: 160px;
}
.header{
	width: 100%;
	line-height: 70px;
	height: 70px;
	font-size: 18px;
	text-align: center;
	background-color: #00d7c6;
	color: #FFF;
}
.layui-footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 80px;
	line-height: 80px;
	background-color: #00d7c6;
	text-align: center;
	color: #fff;
}
